* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5D6063;
  background-color: #EAEDF0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker-form-header {
  text-align: center;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;

  width: 80%;
  margin: 40px 0;
  padding: 50px;
}

.speaker-form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.page {
  background-color: #FFFFFF;
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.game-form {
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;

  width: 90%;
  margin: 10px 0;
  padding: 20px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.instructions-title {
  width: 75%;
}

.instructions-container {
  width: 50%;
}

.instructions-container img {
  width: 100%;
}

.info-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
}

.score-keeper-container {
  width: 40%;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  text-align: center;
  border: 1px solid #D6D9DC;
}

.restart-container {
  width: 20%;
}

.restart-container button {
  width: 100%;
  font-size: 20px;

}

.timer-container {
  width: 10%;
  border: 1px solid #D6D9DC;
  text-align: center;
  font-size: 30px;
}

.user-selection {
  width: 80%;
  text-align: center;
  border: 1px solid #D6D9DC;
  margin: 2%;
}

.user-selection img {
  width: 15%;
}

.answers-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #D6D9DC;
}

.computer-container {
  width: 50%;
  text-align: center;

}

.user-container {
  width: 50%;
  text-align: center;
}

.answers-container img {
  width: 60%;
}

.instructions-container {
  width: 50%;
  text-align: center;
  border: 3px solid #D6D9DC;
  font-size: 20px;
  margin: 5%;
}
